{% extends "main.html" %}

{% load static %}

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/miestilo.css'%}">

{% block contenido %}

<!-- <div class="BotonNuevaPublicacion"></div> -->
<div>

    <a class="btn btn-primary btndj" href="/Blog/create_publicacion" >+ Nueva Publicación</a>
    
</div>
<div>
    <p> Buscar Publicaciones por Tematica </p>
    {% for tematica in tematicas %}
    <a class="btn btn-primary btndj" href="/Blog/buscar_publicacion/{{tematica}}" > {{ tematica }}</a>
    {% endfor %}
</div>

<p>Publicaciones en proceso de creación</p>

{% endblock %}